

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.main {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}


.header {
  text-align: center;
  margin-bottom: 30px;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.subtitle {
  font-size: 16px;
  opacity: 0.7;
}


.leftPane {
  width: 50%;
}

.rightPane {
  width: 50%;
}
