.jsonInputContainer {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  background: var(--panel-bg);
  color: var(--text);
  border: 1px solid var(--border);
}

.textarea {
  width: 90%;
  height: 400px;
  /* BIGGER TEXTAREA */
  resize: vertical;
  padding: 9px;
  font-size: 14px;
  font-family: Consolas, monospace;
  background: var(--input-bg);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 6px;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--text);
}


.textarea:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 4px rgba(74, 144, 226, 0.4);
}

.error {
  color: #e63946;
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
}

.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.generateBtn {
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  background: var(--primary);
  color: white;
  margin-bottom: 20px;
}

.generateBtn:hover {
  background: var(--primary-hover);
}

.formatBtn {
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  background: var(--primary);
  color: white;
}

.formatBtn:hover {
  background: var(--primary-hover);
}

.clearBtn {
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  background-color: #e63946;
  color: white;
}

.clearBtn:hover {
   background: var(--danger);
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}