.jsonInputContainer {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  background: #fff;
}

.textarea {
  width: 90%;
  height: 400px;     /* BIGGER TEXTAREA */
  resize: vertical;
  padding: 9px;
  font-size: 14px;
  font-family: Consolas, monospace;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #333;
}


.textarea:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 4px rgba(74, 144, 226, 0.4);
}

.error {
  color: #e63946;
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
}

.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.generateBtn {
    padding: 10px 16px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  background: #007bff;
  color: white;
  margin-bottom: 20px;
}

.generateBtn:hover {
  background: #0064d6;
}

.formatBtn {
    padding: 10px 16px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  background: #007bff;
  color: white;
}

.formatBtn:hover {
  background: #0064d6;
}
